@charset "utf-8";
/* CSS Document */
*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: black;
}
div.container-main{
	min-height: 700px;
}
div.container-foot{
	min-height: 80px;
}
div[class|='container'] > div{
	width: 980px;
	min-height: inherit;
	margin:0 auto;
}
div.container-main div.main{
	padding: 1px;
}
div.slide{
	height: 680px;
	width: 960px;
	margin-top: 10px;
	margin-left: 10px;
	overflow: hidden;
	background-color: white;
}
div.slide div.train{
	width: 1100px;
	height: inherit;
	position: relative;
}
div.slide div.train > div{
	width: 320px;
	min-height: 1360px;
	float: left;
	position: absolute;	 
}
div.slide div.opa{
	width: inherit;
	min-height: inherit;
	background-color: black;
	opacity: 0.2;
	position: absolute;
}
div.side div.txt{
	width: inherit;
	height: 200px;
	margin-top: 240px;
	position: relative;
	padding-top: 1px;
}
div.side div.txt div.box{
	width: 150px;
	height: 35px;
	margin-left: auto;
	margin-top: 40px;
	background-color: black;
}
div.side div.txt div.link{
	width: 180px;
	height: 100px;
	margin-left: 40px;
	margin-top: 5px;
}
div.side div.head{
	width: 240px;
	height: 50px;
	position: absolute;
	left:40px;
	top:10px;
}
div.side div.head p{
	font-size: 28px;
	color: white;
}
div.txt div.box p{
	text-align: center;
	color: white;
	font-size: 33px;
}
div.txt div.link p{
	direction: rtl;
	color: white;
	font-size: 35px;
}
div.container-foot div.foot{
	padding: 1px
}
div.foot div.menu{
	width: 600px;
	height: 50px;
	margin: 0 auto;
}
div.foot div.menu ul{
	list-style-type: none;
}
div.foot div.menu ul li{
	
	margin-top: 10px;
	margin-left: 5px;
	background-color: black;
	float: left;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 10px #68a;
	-webkit-transition:box-shadow 1s;
}
div.menu ul li a{
	display:block;
	padding: 7px 33px;
	text-decoration: none;
	color:white;
}
div.foot div.menu ul li:hover{
	-webkit-box-shadow: inset 0px 1px 10px #45f;
}